/* General reset and font styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body styling */
body {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.navbar__left,
.navbar__right {
    display: flex;
    align-items: center;
    gap: 15px;;
}

.navbar__left p a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.navbar__left p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid white ;
    border-radius: 5px;
    background-color: white;
}



.navbar__right i{
    color: black;
    font-size: large;
}
/* Main content styling */
.main-content {
    padding: 20px;
}

/* Profile section styling */
.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    display: flex;

}

.profile-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-text h2 {
    display: flex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* Intro section styling */
.intro-section {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}



.details-section h3 {
    padding-top: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.details-section p {
    text-indent: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

/* Portfolio section styling */
.portfolio-section {
    margin-bottom: 30px;
}

.portfolio-section h2 {
    font-size: 32px;
    padding-top: 30px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project-card {
    width: 300px;
    text-align: center;
    padding: 20px;
    border: 10px solid gray;
    border-radius: 50px;

    animation: mymove 5s infinite;

}

@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px black
    }
}

.project-card img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.udemy_img {
    padding-top: 5px;
    width: 100px;
    height: auto;
}

.food_img {
    padding-top: 5px;
    width: 100px;
    height: 130px;
}


/*website link of food website*/
.project-card a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-weight: 700;
}

.project-card p{
    text-decoration: solid;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.bot_img {
    padding-top: 5px;
    width: 100px;
    height: 130px;
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.project-card p {
    font-size: 16px;
    color: black;
}

.navbar__right {
    color: black;
}

.navbar__left {
    color: black;
}

/* automatic fault detection in street light image*/
.auto_img{
    padding-top: 5px;
    width: 100px;
    height: 130px;

}

/* about me*/

.about {
    padding-top: 10px;
    text-decoration: solid;
    padding: 10px;
    color: black;
}

.about h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bolder;
    text-align: center;
}



.container_about {
    margin: 10px;
    padding: 10px;
}



/* skills */

.skill_summary {
    text-align: left;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
}

.skill_summary h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

}

.skills_container p {
    text-align: center;
    border: solid gray 5px;
    border-radius: 30px;
    flex-grow: 1;
    padding: 20px;
    flex-basis: 25%;
    color: black;
    gap: 20px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 800;
    animation:moving 5s infinite;
    flex-wrap: wrap;
    

}

@keyframes  moving {
    50% {
        box-shadow: 5px 10px 15px black
    }
}

.skills_container a{
    text-decoration: solid;
    color: black;
    font-weight: lighter;

}


/* Education*/
.education_section {
    padding: 10px;
}

.education_title h1 {

    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}

.edu_clg h3 {

    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.edu_p p {
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.edu_sch_t h3 {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}


.edu_sch p {
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif
}



/* CONNECT SECTION*/

.connect {
    padding: 10px;
}


.connect_title h1 {
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}


/*link*/

.links_container {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.linked a,
.github a,
.instagram a,
.twitter a {
    padding: 10px;
    color: white;
    border: solid black 2px;
    border-radius: 12px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    width: calc(50% - 10px);
    /* Adjusted width with margin */
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    /* Added margin */
    font-size: large;
    border-radius: 20px;
    flex-wrap: wrap;
}

/* bottom container*/

.footer {
    padding: 20px;
    margin-top: 50px;
    background-color: black;
}

.footer_one {
    padding: 10px;
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: center;
    /* Align items vertically */
    font-family: 'Times New Roman', Times, serif;
}

.footer_one_s1 p {
    margin: 10px;
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
}

.footer_one_s1 h1 {
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.footer_one_s2 h1 {
    margin-bottom: 10px;
    /* Add margin bottom */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.social_icons {
    margin-top: 10px;
    /* Add margin top */
    padding-top: 10px;
    /* Optional: Add padding top for additional spacing */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* Align items vertically */
}


/* Adjust the margin for icons for spacing */
.social_icons a {
    margin-right: 10px;
}

.footer_two {
    padding: 20px;
    align-items: center;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid white;
    flex-wrap: wrap;
}